body {
    background-color: #D49F75;
}

header {
    height: 50px;
}

.bg-color {
    background-color: #C7D83A;
}

a {
    text-decoration: none;
    color: #1D070E;
    font-size: 20px;
}

.title-color {
    color: #C7D83A;
}

.back-color {
    color: #992B24;
}

.axolotl-color {
    color: #f4cda1;
    font-size: 40px;
}

strong {
    color: #992B24;
}

.position {
    position: absolute;
    top: 10px;
    right: 100px;
}

.border-green {
    border: 1px solid #C7D83A;
}

.about-titles {
    font-size: 26px;
}